body {
	font-family: 'Source Code Pro', sans-serif;
}

#map-canvas {
	margin-left: 10px;
	width: 700px;
	height: 500px;
}

.title h1 {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 30pt;
	text-decoration: underline;
	text-align: center;
}

.my-navbar {
	text-align: center;
	line-height: 5px;
}

.my-navbar li {
	list-style-type: none;
	display: inline;
}

.line {
	font-weight: bold;
	font-size: 30pt;
	line-height:20px;
}

#police {
	color: #0000FF;
}

#population {
	color: #00FF00;
}

#childpoverty {
	color: #800080;
}

#cancer {
	color: #756431;
}

#average {
	color: #FF0000;
}

hr {
	border-top: 2px solid gray;
}